Given a number N. Print numbers from 1 to N in separate lines.
Input: 5

Output:

1

2

3

4

5

In [6]:
x=int(input("enter number : "))
for i in range(1,x+1):
  print(i)
print()

enter number : 5
1
2
3
4
5

Given a number N. Print the summation of all numbers between 1 and N inclusive.
Input: 10 output: 55

In [9]:
x=int(input("enter number : "))
sum=0
for i in range(x+1):
  sum+=i
print(sum)

enter number : 10
55

# Triangle Star Pattern

Input: 4
Output:
* ## *
* ## **
* ## ***
* ## ****

In [17]:
x=int(input("enter a number :"))
for i in range(1,x+1):
  for j in range(i):
    print("*", end="")
  print()

enter a number :4
*
**
***
****

# Count Vowels in a String
## Take a string input and count how many vowels it contains.

In [25]:
name=list(input("enter a string please : " ).lower())
count_a=count_e=count_u=count_i=count_o=0
print(name)
for i in name:
  if i=="a":
    count_a+=1
  if i=="e":
    count_e+=1
  if i=="o":
    count_o+=1
  if i=="u":
    count_u+=1
  if i=="i":
    count_i+=1
print(f"the a is {count_a} \n the i is {count_i} \n the u is {count_u} \n the e is {count_e} \n the o is {count_o}   ")

enter a string please : kerolos
['k', 'e', 'r', 'o', 'l', 'o', 's']
the a is 0
 the i is 0
 the u is 0
 the e is 1
 the o is 2

Given a list of  numbers. Count how many of these values are even, odd, positive and negative.

l=-5 0 -3 -4 12

Output:

Even: 3

Odd: 2

Positive: 1

Negative: 3

In [29]:
li=list(map(int , input("enter numbers :").split()))
count_p=count_n=0
count_even=count_odd=0
for i in li:
  if i %2==0:
    count_even+=1
  else:
    count_odd+=1

  if i>0:
    count_p+=1
  else :
    count_n+=1
print(f"Even numbers: {count_even}")
print(f"Odd numbers: {count_odd}")
print(f"Positive numbers: {count_p}")
print(f"Negative numbers: {count_n}")

enter numbers :45 33 22 99 5 3
Even numbers: 1
Odd numbers: 5
Positive numbers: 6
Negative numbers: 0